@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
   
body {
	margin:0;
	padding:0;
	min-width: 800px;
	font-family: 'Titillium Web', sans-serif;
}

.ru  {
	display:none;
}

.header{
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding:0px;
	font-size: 100%;
	cursor: default;
}

.heading-header{
	width:800px;
	display: inline-block;
	vertical-align: middle;
    text-align:center;
    margin: 10px auto;
    padding:0px;
}

h1.heading-content{
	width:400px;
	text-align:center;
    margin: 0 0%;
	padding:0px 0px 0px 200px;
	float: left;
}

.content {
	width:800px;
	text-align:center;
    margin: 0 auto;
	font-size: 100%; 
	color: silver; 
	text-shadow: rgb(0,0,0) 2px 3px 4px;
}

.footer { 
	text-align: center;
	font-size: 70%; 
	color: silver;
    font-weight: bold;	
	padding:30px 0 30px 0;
}

/* Navigation menu ++++ */
#mainmenu {
background: rgb(50,30,50);
position: relative;
overflow:hidden;
height:65px;
margin:5px 0;
break-inside: avoid;
}
#mainmenu ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font-size: 120%;
height:30px
}
#mainmenu ul li {
position:relative;
left:-50%;
float:left;
margin:0 20px;
height:65px
}
#mainmenu ul li a {
color: #fff;
display:block;
text-decoration:none;
padding:0 30px;
line-height: 65px;
}
#mainmenu ul li a:hover {
background-color:rgb(130,55,130); 
}
/* Navigation menu ---- */

/* The switch ++++ */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
    text-align:center;
    margin: 10px auto;
    padding:0px;
}
.switch input {display:none;}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #ccc;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
/* The switch ---- */

.page { 
	width: 800px;
	vertical-align: middle;
	text-align:center;
    margin: 0 auto;
}
.main { 
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
.activity { 
	display:none;
}
.bio { 
	display:none;
	
}
.contacts { 
	display:none;
}

.contactIcon { 
	border-radius: 30px; 
	font-size: 1em;
	font-weight: bold;
	text-shadow: black 2px 3px 4px;
	color: rgb(255,60,16);
	text-align: center;
	margin: 20px 20px 20px 20px; 
    width: 100px;
    background: rgb(60,60,60);
	break-inside: avoid;
    padding: 3px;
}

.boxIcon { 
	border-radius: 10px; 
	font-weight: bold;
	text-shadow: black 2px 3px 4px;
	color: rgb(255,60,16);
	text-align: center;
	margin: 5px 5px 5px 5px; 
    width: 200px;
    background: rgb(60,60,60);
	break-inside: avoid;
    padding: 5px;
}

.photo { 
	border-radius: 30px; 
	font-size: 1em;
	font-weight: bold;
	text-shadow: black 2px 3px 4px;
	color: rgb(255,60,16);
	text-align: center;
	margin: 0px 0px 0px 0px; 
    width: 150px;
    /*background: rgb(60,60,60);   */
	break-inside: avoid;
    padding: 0px; /* Поля вокруг текста */
}

.textBlock { 
	position: relative;
	float:left; 
	/*color: rgb(255,60,16);*/
	text-align: left;
	margin: 1px 1px 1px 20px; 
    /*background: rgb(60,60,60);   */
	break-inside: avoid;
    padding: 0;
}

.wordBox { 
	font-weight: bold;
	color: rgb(255,60,16);
	text-align: left;
    margin: 50px 0px 0px 20px; 
}

.activity table{
	width: 600px;
	margin: 0 auto;
    padding:0;
}

.activity table tr td:first-child{
	text-align: left;
}

.bioText { 
    width: 50%;
}

p:first-letter {
	padding-left: 1.5em;
}

.reload {
}
