@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
   
body {

}

 .header{
    text-align:center;
    margin: 0 auto;
    padding:0px;
	font-family: 'Titillium Web', sans-serif;
}

.content {
	text-align:center;
    margin: 0 auto;
	font-size: 100%; 
	font-family: Arial, Helvetica, sans-serif; 
	color: silver; 
}

.footer { 
	text-align: center;
	font-size: 70%; 
	font-family: 'Titillium Web', sans-serif; 
	color: silver;
    font-weight: bold;	
	padding:30px 0 30px 0;
}

/* Navigation menu ++++ */


#mainmenu {
background: rgb(50,30,50);
position: relative;
overflow:hidden;
height:80px;
margin:20px 0
}
#mainmenu ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font:30px 'Titillium Web', sans-serif;
height:40px
}
#mainmenu ul li {
position:relative;
left:-50%;
float:left;
margin:0 20px;
height:60px
}
#mainmenu ul li a {
color: #fff;
display:block;
text-decoration:none;
padding:0 30px;
line-height: 80px;
}
#mainmenu ul li a:hover {
background-color:rgb(130,55,130); 
}
/* Navigation menu ---- */