.App {
  min-width: 320px;
  min-height: 880px;

  font-family: 'Titillium Web', sans-serif;
  color: rgb(0, 0, 0); 
  font-size: 1em;
}

.code {
  font-size: 1rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo{
  font-weight: bold;
  color: rgb(0, 0, 0); 
  text-align: center;
}

 .footer{
  background-color: white;
}

.ic{
  color:rgb(54, 54, 54);
  margin: 10px;
}

.ic:hover{
  color:rgb(40, 36, 255);
}

.person{
  transition: transform 0.5s ease;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}