.App {
  min-width: 320px;
  min-height: 880px;

  font-family: 'Titillium Web', sans-serif;
  color: rgb(0, 0, 0); 
  font-size: 1em;
}

.code {
  font-size: 1rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo{
  /* font-size: 3em; */
  font-weight: bold;
  color: rgb(0, 0, 0); 
  text-align: center;
}

/* .photo{
  max-width: 180px;
} */