.App {
  text-align: center;
  min-width: 320px;
  min-height: 880px;
  font-family: 'Titillium Web', sans-serif;
  color: silver; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}